@layer base {
    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-zinc-200, currentColor);
    }

    body {
        background-color: var(--color-bg);
        color: var(--color-text);
    }

    /* ALPINEJS */

    [x-cloak] {
        display: none !important;
    }
}
