@layer base {
    /* HTMX progress indicator */
    #hx-indicator {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        height: 3px;
        background: var(--color-primary-500);
        z-index: 9999;
        transition:
        width 300ms ease-out,
        opacity 150ms 150ms ease-in;
        transform: translate3d(0, 0, 0);

        @variant dark {
            background: var(--color-primary-400);
        }
    }

    #hx-indicator.htmx-request {
        display: block !important;
    }
}
