{% build_attrs action=action|default:request.path method="post" class=inline|yesno:"flex gap-2,space-y-4" as defaults %}
{% if htmx %}
  {% build_attrs id=target|default:None hx_trigger="submit once" hx_disable="this" hx_swap="outerHTML" hx_target="this" hx_validate="true" as htmx_attrs %}
{% elif hx_ignore %}
  {% build_attrs hx_ignore="true" as htmx_attrs %}
{% else %}
  {% build_attrs as htmx_attrs %}
{% endif %}
{% if multipart %}
  {% build_attrs enctype="multipart/form-data" hx_encoding="multipart/form-data" as multipart_attrs %}
{% else %}
  {% build_attrs as multipart_attrs %}
{% endif %}
{% build_attrs defaults htmx_attrs multipart_attrs attrs as form_attrs %}
{% with method=form_attrs.method|lower %}
  <form
    {% if htmx %}hx-{{ method }}="{{ form_attrs.action }}"{% endif %}
    {% render_attrs form_attrs %}
  >
    {% if method == "post" %}
      {% csrf_token %}
    {% endif %}
    {{ content }}
  </form>
{% endwith %}

{% partialdef buttons %}
  <div class="flex flex-wrap gap-3 items-center">
    {{ content }}
  </div>
{% endpartialdef buttons %}
