{% extends "base.html" %}
{% load heroicons i18n %}

{% block content %}
  {% if user.is_authenticated %}
    {# Mobile: dropdown #}
    <div class="mb-6 lg:hidden" x-data="{ open: false }">
      <button
        type="button"
        class="btn btn-ghost w-full justify-between"
        @click="open = !open"
        :aria-expanded="open"
      >
        {% heroicon_mini "cog-6-tooth" class="size-4 shrink-0" aria_hidden="true" %}
        {% translate "Account Settings" %}
        {% heroicon_mini "chevron-down" class="ml-auto size-4 shrink-0" aria_hidden="true" %}
      </button>
      <ul
        class="menu mt-1 w-full rounded-lg border border-base-200 bg-base-100"
        x-show="open"
        x-cloak
        x-transition
        @click.outside="open = false"
      >
        {% partial "account/partials.html#menu_items" %}
      </ul>
    </div>

    {# Desktop: sidebar + content #}
    <div class="lg:flex lg:gap-8">
      <aside class="hidden lg:block lg:w-56 shrink-0">
        <ul class="menu">
          {% partial "account/partials.html#menu_items" %}
        </ul>
      </aside>
      <div class="flex-1 min-w-0">
  {% else %}
    <div class="py-12 mx-auto max-w-md">
  {% endif %}

  {% block settings_content %}
  {% endblock settings_content %}

  {% if user.is_authenticated %}
      </div>
    </div>
  {% else %}
    </div>
  {% endif %}
{% endblock content %}
