{% load heroicons i18n %}

{% partialdef menu_item %}
  <li>
    <a href="{{ match.url }}" class="{{ extra_class }}{{ match.css_class }}">
      {% heroicon_mini icon class="size-4 shrink-0" aria_hidden="true" %}
      {{ label }}
    </a>
  </li>
{% endpartialdef %}

{% partialdef menu_items %}
  {% with icon="arrow-left" label=_("Back to site") %}
    {% active_url 'index' as match %}
    {% partial menu_item %}
  {% endwith %}

  {% with icon="envelope" label=_("Email") %}
    {% active_url 'account_email' as match %}
    {% partial menu_item %}
  {% endwith %}

  {% with icon="lock-closed" label=_("Password") %}
    {% active_url 'account_change_password' as match %}
    {% re_active_url 'password/(change|set)' match.url as match %}
    {% partial menu_item %}
  {% endwith %}

  {% with icon="link" label=_("Connections") %}
    {% active_url 'socialaccount_connections' as match %}
    {% partial menu_item %}
  {% endwith %}

  {% with icon="trash" label=_("Delete Account") extra_class="text-error " %}
    {% active_url 'delete_account' as match %}
    {% partial menu_item %}
  {% endwith %}
{% endpartialdef %}
