{% load heroicons i18n %}

{% partialdef menu_item %}
  <li>
    <a href="{{ url }}" class="{{ class }}">
      {% heroicon_mini icon class="size-4 shrink-0" aria_hidden="true" %}
      {{ label }}
    </a>
  </li>
{% endpartialdef %}

{% partialdef menu_items %}
  {% partial "account/partials.html#menu_item" with url=back_url icon="arrow-left" label=_("Back to site") class="" %}
  {% partial "account/partials.html#menu_item" with url=email_url icon="envelope" label=_("Email") class=email_class %}
  {% partial "account/partials.html#menu_item" with url=pw_url icon="lock-closed" label=_("Password") class=pw_class %}
  {% partial "account/partials.html#menu_item" with url=connections_url icon="link" label=_("Connections") class=connections_class %}
  {% partial "account/partials.html#menu_item" with url=delete_url icon="trash" label=_("Delete Account") class="text-error "|add:delete_class %}
{% endpartialdef %}
