{% load heroicons i18n %}

{% partialdef menu_item %}
  <li>
    <a href="{{ url }}" class="{{ class }}">
      {% heroicon_mini icon class="size-4 shrink-0" aria_hidden="true" %}
      {{ label }}
    </a>
  </li>
{% endpartialdef %}

{% partialdef menu_items %}
  {% active_url 'index' as back %}
  {% active_url 'account_email' as email %}
  {% active_url 'account_change_password' as pw %}
  {% re_active_url 'password/(change|set)' pw.url as pw %}
  {% active_url 'socialaccount_connections' as connections %}
  {% active_url 'delete_account' as delete %}
  {% partial "account/partials.html#menu_item" with url=back.url icon="arrow-left" label=_("Back to site") class="" %}
  {% partial "account/partials.html#menu_item" with url=email.url icon="envelope" label=_("Email") class=email.css_class %}
  {% partial "account/partials.html#menu_item" with url=pw.url icon="lock-closed" label=_("Password") class=pw.css_class %}
  {% partial "account/partials.html#menu_item" with url=connections.url icon="link" label=_("Connections") class=connections.css_class %}
  {% partial "account/partials.html#menu_item" with url=delete.url icon="trash" label=_("Delete Account") class="text-error "|add:delete.css_class %}
{% endpartialdef %}
