{% extends "base.html" %}
{% load i18n %}

{% block title %}{% title_tag _("Set Password") %}{% endblock %}

{% block content %}
  <div class="py-12 mx-auto max-w-md">
    {% include "header.html" with title=_("Set Password") %}
    <div class="mt-6">
      <form method="post" action="{% url 'account_set_password' %}" class="space-y-4">
        {% csrf_token %}
        {{ redirect_field }}
        {{ form }}
        <div>
          <button type="submit" class="btn btn-primary">{% translate "Set Password" %}</button>
        </div>
      </form>
    </div>
  </div>
{% endblock content %}
